@font-face {
  font-family: 'ArialNova';
  src: local('ArialNova'), url("./fonts/Arial-Nova/Arial-Nova.ttf");
  font-weight: 400;
}
@font-face {
  font-family: 'Cambria';
  src: local('Cambria'), url("./fonts/Cambria-Font/Cambria-Font.ttf");
  font-weight: 400;
}

body {
  margin: 0;
  font-family: 'ArialNova'!important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
